body{
        color: green;
        font-family: Arial, Helvetica, sans-serif;
        }

        h1,h2{
            border-bottom: 1px solid black;
        }

        h1{
            color: yellow;
        }

        p.blue{
            
            font-size: 17px;
    
            color: blue;

        }

        .red{
            color:red;
        }

        .underline{

            text-decoration: underline;
        }